<style>body {
    background-color: #EAF6F6;
}

hr {
    height: 1px;
    border-style: none;
    /* border-top-style: dotted; */
}

p {
    color: #251f44;
}

h3 {
    color: #251f44;
}

h1 {
    color: #251f44;
}

h2 {
    color: #251f44;
}

</style>